
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(10,220,36);
    border-radius: 30px;
    overflow: hidden;
}

#progressBarFull{
    margin: 0;
    height: 100%;
    background: rgb(10,220,36);
}

#question {
    background-color: cornsilk;
    color:rgba(3, 19, 43, 0.5);
    width: 50vw;
    height: 50vh;
    padding: 2rem;
    font-size: 0.6em;
    text-align: center;
}

.game-buttons{
    display: center;
}

.btn{
    width: 13.5vw;
    height: 10vh;
    font-size: 50%;
    border-radius: 1rem;
}

#known{
    background: linear-gradient(32deg, rgb(10, 220, 35), rgb(12, 116, 50) 100%);
}

#notKnown{
    background: linear-gradient(32deg, rgb(231, 46, 46), rgb(189, 8, 8) 100%);
}

#finish-button{
    margin-top: 5.75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#finishGame{
    background: linear-gradient(32deg, rgb(1, 2, 1), rgb(216, 221, 218) 100%);
}